version: '3.7'

services:

  # Apache
  apache:
    ports:
      - 8000:80

  # phpMyAdmin
  phpmyadmin:
    ports:
      - 8001:80

  # Mailhog
  mailhog:
    ports:
      - 1025:1025
      - 8025:8025
